{% extends "layout.html" %}
{% block home %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <br>
  {% if name == None %}
    What is your name?<br>
    <form action="/getname">
    <input type="submit" value="HELLO, MY NAME IS..."></input>
    <input type=text name="getname"></input>
    </form>
  {% else %}
    Hello {{ name }}. What prehistoric creatures lived near you?

<div class="component_searchbox">
    What do you want to find?<br><br>
    <b><span id='taxonquery'></span>
    <span id="JustChordates" style="display: none">chordates</span>
    <span id="JustDinos" style="display: none">dinosaurs</span>
    <span id="JustTrilobites" style="display: none">trilobites</span>
    <span id="JustMammals" style="display: none">mammals</span>
    <span id="JustHominids" style="display: none">hominids</span>
    <span id='locationquery'></span></b>
<br>
    <form action="/fossilsearch">
    <input type="submit" value="SEARCH"></input> <input type="reset" value="CLEAR SEARCH FIELDS">
<div class="innerflexbox">
<div class="innerflex3">
    <B>Look for these fossils</B>...<br>
    <img src="static/images/charlesrknight_tyrannotrice.jpg" alt="Charles R. Knight" height="140px" align="center" border="1"><br><br>
     Enter the name of an animal to search for. Find multiple species by separating with commas (i.e. <i>Tyrannosaurus,Triceratops</i>. Leave this blank to search for <b>all fossils</b>.<br><br>
        <input type=text size="50" oninput="$('#taxonquery').html(this.value)" name="taxonquery"><br><br>
 <fieldset>
    Restrict search to just these fossils:<br>
        <label for="chkJustChordates"><input type="radio" name="taxonradio" id="chkJustChordates" value="chordates" onclick="ShowHideDiv()"> Chordates (animals with backbones)</label><br>
        <label for="chkJustDinos"><input type="radio" name="taxonradio" id="chkJustDinos" value="dinosaurs" onclick="ShowHideDiv()"> Dinosaurs</label><br>
        <label for="chkJustTrilobites"><input type="radio" name="taxonradio" id="chkJustTrilobites" value="trilobites" onclick="ShowHideDiv()"> Trilobites</label><br>
        <label for="chkJustMammals"><input type="radio" name="taxonradio" id="chkJustMammals" value="mammals" onclick="ShowHideDiv()"> Mammals</label><br>
        <label for="chkJustHominids"><input type="radio" name="taxonradio" id="chkJustHominids" value="hominids" onclick="ShowHideDiv()"> Hominids (ancient humans and their relatives)</label><br>
        <script type="text/javascript"> function ShowHideDiv() {
        var chkJustChordates = document.getElementById("chkJustChordates"); var JustChordates = document.getElementById("JustChordates"); JustChordates.style.display = chkJustChordates.checked ? "block" : "none";
        var chkJustDinos = document.getElementById("chkJustDinos"); var JustDinos = document.getElementById("JustDinos"); JustDinos.style.display = chkJustDinos.checked ? "block" : "none";
        var chkJustTrilobites = document.getElementById("chkJustTrilobites"); var JustTrilobites = document.getElementById("JustTrilobites"); JustTrilobites.style.display = chkJustTrilobites.checked ? "block" : "none";
        var chkJustMammals = document.getElementById("chkJustMammals"); var JustMammals = document.getElementById("JustMammals"); JustMammals.style.display = chkJustMammals.checked ? "block" : "none";
        var chkJustHominids = document.getElementById("chkJustHominids"); var JustHominids = document.getElementById("JustHominids"); JustHominids.style.display = chkJustHominids.checked ? "block" : "none";
        }</script>
 </fieldset>
 </div>
<div class="innerflex3">
    ... <B>near this location</B>:<br><br>
 <fieldset>
    City: <input type=text oninput="$('#locationquery').html('near ' + this.value)" name="locationquery"><br>
    Search radius:
    <input type="range" name="degrees" min="1" max="8" value="1" onchange="showValue(this.value*70 + ' miles (' + this.value + ' degrees)')" />
    <span id="range">70 miles (1 degree)</span>
    <script type="text/javascript">
        function showValue(newValue)
        { document.getElementById("range").innerHTML=newValue; }
    </script><br>
 </fieldset>
    <br><br>
    <i>(Leave this blank to search <b>worldwide</b>)</i>
</div>
</div>
   </form>



</div>

  {% endif %}
{% endblock %}