{% extends "layout.html" %}
{% block home %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <br>
    Hello! Find out what prehistoric creatures lived near you, or anywhere else in the world you choose.
<br><br>
    What do you want to find?
    <b><span id='taxonquery'></span>
    <span id='locationquery'></span>
    <span id='geotimequery'></span></b>
    <form action="/fossilsearch">
   <div class="component_searchbox"> <input type="submit" value="SEARCH"></input><input type="reset" value="CLEAR SEARCH FIELDS">
<div class="innerflexbox">
<div class="innerflex1">
<div>    <B>Look for these fossils</B>...</div><div><br>
      {% for item in taxonRadioButtonList %}
            {% for x in range(0, item[3]) %}&nbsp;&nbsp;&nbsp;{% endfor %}
        <label for="{{ item[0] }}"><input type='radio' name='taxonradio' id="{{ item[0] }}" value="{{ item[1] }}" onclick="$('#taxonquery').html('{{ item[2] }}')"> {{ item[2] }}</label><br>
        {% endfor %}
     <br>
     Or pick something yourself! (Find multiple species by separating with commas (i.e. <i>Tyrannosaurus,Triceratops</i>):
        <input type=text size="50" oninput="$('#taxonquery').html(this.value)" name="taxonquery">
    <br><br>
         <i>(Leave this column blank to search for <b>all fossils</b>)</i>
 </div></div>

<div class="innerflex1">
<div>   ... <B>near this location</B> ...<br></div><div><br>
    City: <input type=text oninput="$('#locationquery').html('near ' + this.value)" name="locationquery"><br>
    Search radius:
    <input type="range" name="degrees" min="1" max="10" value="1" onchange="showValue(this.value*70 + ' miles (' + this.value + ' degrees)')" />
    <span id="range">70 miles (1 degree)</span>
    <script type="text/javascript">
        function showValue(newValue)
        { document.getElementById("range").innerHTML=newValue; }
    </script><br>

    <br><br>
    <i>(Leave this blank to search <b>worldwide</b>)</i>
    </div></div>
<div class="innerflex1">
<div>    ... <B>from this time period</B>:<br></div><div><br>
        <div style='background:white;'><input type='radio' name='geotimeradio' id="All past eras" value="allpasteras" checked="checked" onclick="$('#geotimequery').html(' from the entire geological record')">The <b>entire geological record</b> <br></div>
          {% for line in allGeoTimes %}
          {% if ((line.scale_level < 4) and (line.scale_level > 1)) and (line.max_ma < 550)%}
       <div style='background:{{ line.color }};'>      {% for x in range(2, line.scale_level) %}&nbsp;&nbsp;&nbsp;{% endfor %}
        <input type='radio' name='geotimeradio' id="{{ line.interval_name }}" value="{{ line.interval_name }}" onclick="$('#geotimequery').html(' from the {{ line.interval_name }}</b> {{ getTimeScaleDivisionName(line) }} ({{ line.max_ma }}mya)')"><b>{{ line.interval_name }}</b> {{ getTimeScaleDivisionName(line) }} ({{ round(line.max_ma,1) }}-{{ round(line.min_ma,1) }}mya)<br></div>
        {% endif %}
        {% endfor %}
        <div style='background:#F73563;'><input type='radio' name='geotimeradio' id="Precambrian" value="precambrian" onclick="$('#geotimequery').html(' from the Precambrian (541 million to 4.6 billion years ago)')"><b>Precambrian</b> (4.6 billion-541mya)<br></div>
        <br><br>
    <i>(Leave this blank to search <b>all time periods</b>)</i>
</div>
</div>            </div>
            </div>
   </form>




<B>Geologic ages of the Earth:</B>
          {% for line in allGeoTimes %}
          {% if line.scale_level < 6 %}
       <div style='background:{{ line.color }};'>      {% for x in range(0, line.scale_level) %}&nbsp;&nbsp;&nbsp;{% endfor %}
              &#0149; <b>{{ line.interval_name }}</b> {{ getTimeScaleDivisionName(line) }}: {{ line.max_ma }} to {{ line.min_ma }} million years ago<br></div>
        {% endif %}
        {% endfor %}

{% endblock %}